// Background
@base03: #0e0021;
@base02: #bcbcbc;

// Content
@base01: #b75edc;
@base00: #7e5edc;
@base0: #888a85;
@base1: #93a1a1;

// Foreground
@base2: #bcbcbc;
@base3: #ffffff;

// Accent
@yellow: #dcb65e;
@orange: #cb9a15;
@red: #cb1578;
@magenta: #cb15c9;
@violet: #6f15cb;
@blue: #15b4cb;
@cyan: #5edcb4;
@green: #9edc60;
